<meta name="viewport" content="width=device-width, initial-scale=1">

html {
    margin: 100rem;
}

body {
}

h1 {
    color:#2C8DA2;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

h2 {
    color:#267A8C;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

p {
    color:#FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

body {
    background-color: #808080;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headershape {
    width: auto;
    height: auto;
    /*border: 3px solid #61484c;*/
    margin-top: 10px;
    /*margin-right: 200px;
    margin-left: 200px;*/
    border-radius: 1rem;
    background-color: #616161;
    position: relative;
    text-align: center;
    /*transform: translate(-50%, -50%);*/
}

.navbar {
    width: auto;
    height: 2rem;
    position: relative;
    border-radius: 1rem;
    background-color: #7A7A7A;
}

.text {
    position: relative;
    text-align: center;
}